.box {
  display: flex;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  font-size: large;
}

.one {
  flex: 1 1 auto;
  border: 7px solid #000;
}

.two {
  flex: 1 1 auto;
  border: 7px solid #000;
}

.three {
  flex: 1 1 auto;
  border: 7px solid #000;
}

.four {
  flex: 1 1 auto;
  border: 7px solid #000;
}
