.box {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  border-left: 5px red;
  flex: 1 1 auto;
}

.one {
  flex: 1 1 auto;
}

.two {
  flex: 1 1 auto;
}

.three {
  flex: 1 1 auto;
}

.four {
  flex: 1 1 auto;
}
