<div id="container" *ngIf="city">
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-8">
        <div class="card-body">
          <h2 class="card-title">{{city.name}}</h2>
          <h3>{{city.country}}</h3>
          <br>
          <h6>Weather: </h6>

          <h7>{{city?.weather?.description}}</h7>
          <h7>  Max temp: {{city?.weather?.maxTemp}}</h7>
          <h7>  Min temp: {{city?.weather?.minTemp}}</h7>

        </div>
      </div>
      <div class="col-md-4">
        <img  class="card-img" [src]="city.image" alt="...">
      </div>
      <div class="posts">
        <h2>Posts</h2>
        <app-post *ngFor="let post of city.posts" [post]="post"></app-post>
      </div>
    </div>
  </div>
</div>
